<div class="row">
  <div class="col-md-4">
    <img class="logoBig" src="images/logo.png" />
  </div>
</div>
<div class="inner" style="padding:50px">
    <div class="row">
      <div class="col-md-12 text-center" style="margin:50px 0">
        <img src="images/characters2.png" />
      </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-3 col-xs-6">
          <h4>Starting fresh?</h3>
          <a ng-click="create()" class="btn btn-dark btn-block">New Baker <i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
        <div class="col-md-3 col-xs-6">
          <h4>Existing Users</h3>
          <a ng-click="restore()" class="btn btn-primary btn-block">Restore Baker <i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
    </div>
</div>