<div class="row">
  <div class="col-md-4">
    <img class="logoBig" src="images/logo.png" />
  </div>
</div>
<div class="inner bg2" style="padding:50px">
    <div class="row">
      <div class="col-md-8">
        <h5>Ready to Bake!</h5>
        <h3>Enter <br />Password</h3>
        </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
            <label>Enter a password to encrypt your data</label>
            <input type="password" class="form-control" ng-model="password" placeholder="New Password">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" ng-model="password2" placeholder="Repeat Password">
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-6">
          <a ng-click="save()" class="btn btn-primary btn-block">Save <i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
        <div class="col-md-3 col-xs-6">
          <a ng-click="cancel()" class="btn btn-secondary btn-block">Cancel <i class="fas fa-times"></i></a>
        </div>
    </div>
</div>