<div class="row">
  <div class="col-md-4">
    <img class="logoBig" src="images/logo.png" />
  </div>
</div>
<div class="inner" style="padding:50px">
    <div class="row">
      <div class="col-md-8">
        <h2>Settings</h2>
      </div>
    </div>
    <div class="row">
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Export Private Key</label>
                <input autocomplete="false" type="text" class="form-control" placeholder="Enter Password" ng-model="password" />
              </div>
            </div>
          </div>
          <p><strong>{{privateKey}}</strong></p>
          <div class="row">
            <div class="col-md-3">
              <a ng-click="show()" class="btn btn-sm btn-primary btn-block">Show Private Key</a>
            </div>
          </div>
        </div>
    </div>
    <br /><hr><br />
    <div class="row">
        <div class="col-md-3 col-xs-6">
          <a ng-click="save()" class="btn btn-primary btn-block">Save Settings</i></a>
        </div>
    </div>
</div>