<div class="row">
  <div class="col-md-4">
    <img class="logoBig" src="images/logo.png" />
  </div>
</div>
<div class="inner bg3" style="padding:50px">
    <div class="row">
      <div class="col-md-8">
        <h5>Ready to Bake!</h5>
        <h3>Validate <br />data</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Seed Words</label>
          <input autocomplete="off" type="text" class="form-control" ng-model="mnemonic" placeholder="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
            <label>Optional passphrase</label>
            <input autocomplete="off" type="password" class="form-control" ng-model="passphrase" placeholder="">
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-6">
          <a ng-click="validate()" class="btn btn-primary btn-block">Validate <i class="fas fa-long-arrow-alt-right"></i></a>
        </div>
        <div class="col-md-3 col-xs-6">
          <a ng-click="back()" class="btn btn-secondary btn-block">Back <i class="fas fa-times"></i></a>
        </div>
    </div>
</div>