#loadingSpinnerContainer{
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display:none;
}
#loadingSpinnerContainer .bg{
  background-color:#000;
  opacity:.2;
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#loading-bar-spinner.spinner {
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
    position: absolute;
    z-index: 19 !important;
    animation: loading-bar-spinner 400ms linear infinite;
}
#loading-bar-spinner.spinner .spinner-icon {
    width: 40px;
    height: 40px;
    border:  solid 4px transparent;
    border-top-color:  #00C8B1 !important;
    border-left-color: #00C8B1 !important;
    border-radius: 50%;
}
.inner.bg1{
    background: #fff url(../images/cupcake.png) no-repeat 0 0;
    background-size: 300px;
    background-position: 600px 200px;
}
.inner.bg2{
    background: #fff url(../images/taco.png) no-repeat 0 0;
    background-size: 300px;
    background-position: 600px 300px;
}
.inner.bg3{
    background: #fff url(../images/donut.png) no-repeat 0 0;
    background-size: 300px;
    background-position: 600px 200px;
}
.inner.bg4{
    background: #fff url(../images/cupcake.png) no-repeat 0 0;
    background-size: 300px;
    background-position: 600px 200px;
}
a {
  color: #F06EAA;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
  color: #BBBBBB;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #F0F0F0;
  z-index:-1;
}
.background2 {
  position: absolute;
  top: 130px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff url(../images/bg.png) 0 0;
  opacity: .5;
}
.inner {
    margin-top: 20px;
    background: #fff;
    border-radius: 0;
    -webkit-box-shadow: 0px 6px 10px -2px rgba(0,0,0,0.7);
-moz-box-shadow: 0px 6px 10px -2px rgba(0,0,0,0.7);
box-shadow: 0px 6px 10px -2px rgba(0,0,0,0.7);
    height: 640px;
}
.avarea canvas{    
  border-radius: 100%;
}
.inner.main>.row, .inner.main>.row>div {
  height: 640px;
}
h5.address{
  text-transform:none;
}
.topArea {
  margin-bottom: 30px;
}
.topArea h5 {
 font-weight: bold;
  font-size: 16px; 
}
.avatar {
  border-radius: 100%;
  background-color: #F0F0F0;
}
img{
  max-width: 100%;
}

.mainArea {
  padding: 30px;
}
.sidebar {
  background-color: #FAFAFA;
  padding: 20px;
}



.nav-tabs{
  border:0;
  margin-bottom: 20px;
}
.nav-tabs.restore>li>a{
    padding: 10px 25px;
}
.nav-tabs>li>a{
  border: 0;
    color: #BBBBBB;
    padding: 10px 65px;
    font-size: 15px;
    font-weight: bold;
    text-transform:uppercase;
    border-bottom: 5px solid #BBBBBB;
    margin-right: 0;
}
.nav-tabs>li>a:hover{
  background-color: transparent;
  border-bottom: 5px solid #F06EAA;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border: 0;
    color: #F06EAA;
    background-color: #fff;
    border-bottom: 5px solid #F06EAA;
    cursor: default;
}

.sidebar h4 {
  text-transform: uppercase;
  font-size: 15px;
  color: #3E3E3E;
  font-weight: bold;
}
.sidebar span.balance {
  text-transform: uppercase;
  font-size: 18px;
  color: #3E3E3E;
  font-weight: bold;
}

.sidebar ul{
 padding:0;
  margin:0;
  padding-bottom: 20px;
  margin-bottom: 10pxx;
  border-bottom: 1px solid #3E3E3E;
  margin-top:20px;
}
.sidebar ul li>span{
  color: #3E3E3E;
}
.sidebar ul li{
 padding:0;
  margin:0; 
  list-style: none;
  color: #F06EAA;
  font-size: 13px;
  font-weight: bold;
}
.status>span{
  color: #3E3E3E;
}
.status{
  font-weight: bold;
  line-height:48px;
  font-size: 16px;
  color: #F06EAA;
  text-transform:uppercase;
}
.topBtns a{
  font-size: 14px;
  line-height:32px;
}
.topBtns a.btn-default{
  padding-left: 20px!important;
  padding-right: 20px!important;
  background-color: transparent;
  border-color: #000!important;
}
.topBtns a.btn-clear{
  border:0;
}
.topBtns a>i{
  font-size: 25px;
  top:2px;
}

h3 {
  font-size: 80px;
  text-transform: uppercase;
  font-weight: bolder;
  margin:0;
  margin-bottom: 30px;
}
h5 {
  margin:0;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
p.mnemonic{
  font-size: 15px;
  padding: 30px;
  background-color: #f0f0f0;
  color: #F06EAA;
  font-weight: bold;
  text-align: center;
  position: relative;
}
p.mnemonic a{
  position: absolute;
  bottom: 5px;
  right: 5px;
}
@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

.btn-inner{
  padding: 5px 10px!important;
}
.btn-icon {
  border-radius: 2px!important;
 border-color: #ccc!important;
  padding: 6px 12px!important;
}
.btn>i{
  font-size: 18px;
    line-height: 11px;
    top: 2px;
    position: relative;
    margin-left: 10px;
}
.btn{
  text-transform:uppercase;
  font-weight:bold;
  font-size: 11px;
  border: 2px solid #B9013B;
  padding: 13px;
  border-radius: 0;
}
.btn.btn-small {
  border-radius: 5px;
  border: 1px solid #B9013B;
  padding: 5px;
  background: #8F015E;
}
.btn.btn-success {
  background: linear-gradient(#DF385D, #8F015E);
}
.btn.btn-primary {
  background: #F06EAA!important;
  color:#fff!important;
  border-color: #F06EAA!important;
}
.btn.btn-dark {
  background: #000!important;
  color:#fff!important;
  border-color: #000!important;
}
.btn.btn-secondary {
  background: #fff;
  color:#B7B7B7;
  border-color: #B7B7B7;
}

.btn.btn-primary:hover {
  background: #8F015E!important;
  border-color: #8F015E!important;
}
.btn.btn-dark:hover {
  background: #fff!important;
  color: #000!important;
}
.btn.btn-secondary:hover {
  background: #B7B7B7;
  color:#fff;
  border-color: #B7B7B7;
}
.tab-content.main table th:last-child, .tab-content.main table td:last-child{
  text-align:right;
}
.tab-content.main table th{
      text-transform: uppercase;
    font-size: 15px;
    color: #3E3E3E;
    font-weight: bold;
}
.tab-content.main table td{
  text-align: left;
  text-overflow: ellipsis;
  font-size: 16px;
  padding: 5px 0;
}
.tab-content.main table{
  width:90%;
}
.tab-content.main{
      height: 300px;
    overflow-y: scroll;
}
.style-baked{
  color: #F06EAA;
  font-weight:bold;
}
.style-steal{
  font-weight:bold;
  color: green;
}
.style-burnt{
  font-weight:bold;
  color: red;
}
h4 {
  color: #B7B7B7;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.form-group>[type=password],
.form-group>[type=text],
.form-group>[type=email]{
  border: 0;
  box-shadow: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  border-bottom:2px solid #171717;
}

.alert-danger {
    background-color: #f7f4f4;
    border-color: #ce6d7c;
    color: #ce6d7c;
}
.alert>i.leftIcon {
  position:absolute;
  left: 20px;
  top: 20px;
  font-size: 2rem;
}
.alert {
    position: relative;
    font-size: 1.3rem;
    padding-left: 50px;
    text-align:left;
}


html {
  background: #ffffff;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
	font-family: 'Noto Sans', sans-serif!important;
  background: transparent;
}
.container{
  padding: 20px!important;
}
.blocky {
    width: 70px;
    height: 70px;
    border-radius: 100%;
}
